@import "./variables";

html{
	font-size: 62.5%;
}

body{
	font-size: 1.6rem;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	padding: 0;
	margin: 0;
}

h1, h2, h3{
	font-family: "Wix Madefor Display", sans-serif;
}

// HEADER

header{
	width:100%;
	position: fixed;
	background-color: $backgroundColor;
	display: flex;
	align-items: center;
	justify-content: space-around;
	border-bottom: 1px solid $borderColor;
}

.logobox{
	display: flex;
	align-items: center;
}
.logo{
//  margin-right: 2rem;
}

.logo-name{
	font-weight: 500;
	color: $textColor;

}
.nav{
	display: flex;
	list-style: none;
	text-transform: uppercase;
}
.nav-item{
	margin-inline-end: 5rem;
}
li>a{
	text-decoration: none;
	color: $textColor;
}


.main{
	padding-block-start: 10rem;
}

section{
	width: 110rem;
	margin: 0rem auto;
	padding: 5rem 0;

}

h1{
	margin-block-end: 5rem;
	font-weight: 700;
	font-family: "Wix Madefor Display", sans-serif;
	font-size:3rem;
}

// Contact
.contacts{
	list-style: none;
	display: flex;
	align-items: center;

	&>li{
		border: 1px solid $borderColor2;
		margin-right: 2rem;
	}
}
.contact-icon >i{
	font-size: 3rem;

	&.linked{
		color: #0A66C2;
	}
	&.mail{
		color: red;
	}
}


@media screen and (max-width: 1024px) {
	section{
		width:80rem;
	}
}

@media screen and (max-width: 769px) {
	.nav-item{
		font-size: 1.2rem;
		margin-inline-end: 2rem;
	}
	section{
		width:70rem;
	}
	h1{
		font-size: 2rem;
		margin-block-end: 3rem;
	}
}


@media screen and (max-width: 429px) {
	section{
		width:90%;
		padding: 2rem 0;
	}

	h1{
		font-size: 2rem;
		margin-block-end: 3rem;
	}

	.nav{
		display: none;
	}

	header{
		align-items: flex-start;
		justify-content: flex-start;
	}
}

