@import "./variables";

.projects-section{
	display: flex;
	flex-wrap: wrap;
	gap:5rem;
}

.project{
	display: flex;
	flex-direction: column;
	flex-basis:30%;
	border: 1px solid $borderColor2;
	border-radius: 5px;
	text-decoration: none;
    color: $textColor;
	&__img{
		width:100%;
		padding: 0;
		margin: 0;
		& >img{
			width: 100%;
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;
			border-bottom: 1px solid $borderColor2;
		}
	}

	&__content{
		padding: 2rem;
	}

	&__title{
		text-transform: uppercase;
		font-weight: 600;
		color: $borderColor2;
	}
	&__technologies{
		font-style: italic;
		font-size: 1.4rem;

		&-sub-title{
			font-weight: 600;
			margin-inline-end: 1rem;
		}
	}

	&__description{

	}
}

@media screen and (max-width: 1024px) {
	.projects-section{
		justify-content: center;
		gap:3rem;
	}

	.project{
		flex-basis: 30%;
	}
}
@media screen and (max-width: 769px) {
	.project{
		flex-basis: 40%;
	}
}


@media screen and (max-width: 429px) {

	.projects-section{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap:3rem;
	}
	.project{
		flex-basis: 90%;
	}
}

